/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  min-width: 31vw;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 768px){
  .grid {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .module {
    font-size: 17px;
    padding: 5px;
  }
}
@media (min-width: 992px) {
  .grid {
    flex-wrap: unset;
  }
  .module {
    flex: 1 4;
  }
  .col {
    padding: 5px;
    width: 150px;
    min-width: 20vw;
  }
  .hero {
    padding: 20px 0;
  }
}
