.keyword {
  color: #cd6f80;
}
.title {
  font-size: 1.5rem;
  color: #666666;
  text-align: center;
}
.page-title {
  font-size: 2rem;
  color: #353535;
  text-align: center;
}
img {
  max-width: 100%;
}
#square {
  display: flex;
  flex-wrap: wrap;
  height: 594px;
  width: 610px;
}
#flexbox {
  width: 32%;
  position: relative;
  border: #999 solid 2px;
  color: #888;
  text-align: center;
  padding: 60px 0;
  font-size: 70px;
}
